
.DS_Store

collective.ptg.s3slider.egg-info/PKG-INFO

collective.ptg.s3slider.egg-info/SOURCES.txt

collective.ptg.s3slider.egg-info/dependency_links.txt

collective.ptg.s3slider.egg-info/top_level.txt

collective.ptg.s3slider.egg-info/requires.txt

collective.ptg.s3slider.egg-info/not-zip-safe

collective/__init__.pyc

collective/ptg/s3slider/__init__.pyc

collective.ptg.s3slider.egg-info/namespace_packages.txt

collective.ptg.s3slider.egg-info/entry_points.txt

*s3slider.mo

*.pyc
